name: Update Playlist

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */4 * * *"

permissions:
  contents: write

jobs:
  update-file:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Download latest playlist.m3u
      env:
        URL: ${{ secrets.PLAYLIST_URL }}
      run: |
        curl -o playlist.m3u "$URL"

    - name: Commit & Push
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        git config --global user.name "github-actions"
        git config --global user.email "github-actions@github.com"
        git add playlist.m3u
        git commit -m "Auto update playlist" || echo "No changes"
        git remote set-url origin https://x-access-token:${GITHUB_TOKEN}@github.com/${{ github.repository }}
        git push origin HEAD:main
